<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Sugerir Actividad</h1>

        <!-- GENERAR ACTIVIDAD -->
        <form action="{{ url_for('actividad') }}" method="get">
            <label for="type">Selecciona un tipo de actividad:</label>
            <select id="type" name="type">
                <option value="">Aleatorio</option>
                <option value="education">Educativo</option>
                <option value="recreational">Recreativo</option>
                <option value="social">Social</option>
                <option value="diy">Bricolaje</option>
                <option value="charity">Caridad</option>
                <option value="cooking">Cocina</option>
                <option value="relaxation">Relajación</option>
                <option value="music">Música</option>
                <option value="busywork">Trabajo Rutinario</option>
            </select>
            <button type="submit">Mostrar Actividad</button>
        </form>

        <!-- RESULTADO DE ACTIVIDAD -->
        <div>
            <p>{{ actividad }}</p>
        </div>

    </div>
</body>
</html>