<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <h2>Historial de Actividades</h2>
    <ul>
        {% if historial %}
        {% for item in historial %}
        <li><strong>{{ item.actividad }}</strong> (Tipo: {{ item.tipo if item.tipo else 'random' }})</li>
        {% endfor %}
        {% else %}
        <li>No hay actividades previas.</li>
        {% endif %}
    </ul>
</body>
</html>